<!DOCTYPE html>
<html manifest="index.appcache">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
  </head>
  <body>
    <div id="root"></div>
    <script>
      // Register A service worker
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('./sw.js')
        .then(function(registration) {
          console.log('[success] register ')
        }, function(err) {
          console.log('[fail]: ', err);
        });
      });
    }
    </script>
  </body>
</html>